@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  text-align: center;
  margin-top: 200px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.right {
  background-color: hsl(183, 100%, 15%);
  border-radius: 18px;
  padding: 20px;
  width: 500px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-left: 20px;
}

.tip-percent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: -10px;
}

.tip-percent button {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 110px;
}

.tip-percent button:hover {
  background-color: hsl(172, 67%, 45%);
}

.row1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.row2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.custom-input input[type=number] {
  width: 110px;
  padding: 10px;
  border-radius: 5px;
  text-align: right;
  outline: none;
  border: none;
  appearance: none;
}

.custom-input input[type=number]:hover {
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(172, 67%, 45%);
}

.people {
  display: flex;
  flex-direction: column;
}

label {
  color: hsl(183, 100%, 15%);
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}

.tip-percent label {
  text-align: left;
  margin-left: -250px;
}

.left input {
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  text-align: right;
  outline: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 19px;
  text-align: left;
}

.people input {
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  text-align: right;
  outline: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 19px;
}

.left input:hover, .people input:hover {
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(172, 67%, 45%);
}

.tip-amount {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: -10px;
  text-align: left;
  color: hsl(0, 0%, 100%);
}

.total {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: -10px;
  text-align: left;
  color: hsl(0, 0%, 100%);
}

.tip-am {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.total-am {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.cash, .total-cash {
  font-size: 40px;
  color: hsl(172, 67%, 45%);
  font-weight: bold;
  margin-top: -15px;
}

.reset button {
  background-color: hsl(172, 67%, 45%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 300px;
  margin-top: 70px;
}

.per {
  color: hsl(184, 14%, 56%);
}

.input-with-icon {
  position: relative;
}

.icon img {
  width: 10px;
  height: 10px;
}

.input-with-icon input[type=number] {
  padding-left: 30px;
}

.input-with-icon .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 22px;
}

/*# sourceMappingURL=styles.css.map */
