$color-body: hsl(185, 41%, 84%);
body{
    background-color: $color-body;
}
.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    text-align: center;
}