@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$color-body: hsl(185, 41%, 84%);
$cont-color: hsl(0, 0%, 100%);
$left-color: hsl(183, 100%, 15%);
$common-flex: column;
$font-family: 'Space Mono', monospace;
@mixin row-styles{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
@mixin input-styles{
    width: 350px;
    padding: 10px;
    border: 2px solid hsl(172, 67%, 45%);
    border-radius: 5px;
    text-align: right;
    outline: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
@mixin tips-styles{
    display: flex;
    flex-direction: row;
    gap: 120px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: -10px;
    text-align: left;
    color: $cont-color;
}
@mixin total-amount{
    display: flex;
    flex-direction: column;
    width: 100px;
}
@mixin cash{
    font-size: 30px;
    color: hsl(172, 67%, 45%);
    font-weight: bold;
}
body {
    background-color: $color-body;
    font-family: $font-family;
}

.container {
    background-color: $cont-color;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
    margin-top: 200px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.right {
    background-color: $left-color;
    border-radius: 18px;
    padding: 20px;
    width: 500px;
}

.left {
    display: flex;
    flex-direction: $common-flex;
    width: 550px;
    margin-left: 20px;
}

.tip-percent {
    display: flex;
    flex-direction: $common-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: -10px;

}
.tip-percent button {
    background-color: $left-color;
    color: $cont-color;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 110px;
}
.tip-percent button:hover {
    background-color: hsl(172, 67%, 45%);
    
}
.row1 {
    @include row-styles;
}
.row2 {
    @include row-styles;
}
.custom-input input[type="number"] {
    width: 110px;
    padding: 10px;
    border: 2px solid hsl(172, 67%, 45%);
    border-radius: 5px;
    text-align: right;
    outline: none;
    appearance: none;
}
.people{
    display:flex ;
    flex-direction: $common-flex;
}
label {
    color: $left-color;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
}
.tip-percent label {
   text-align: left;
   margin-left: -270px;
}
.left input {
    @include input-styles;
    text-align: left
}
.people input {
    @include input-styles;
}
.tip-amount{
    @include tips-styles;
}
.total{
    @include tips-styles;
}
.tip-am{
    @include total-amount;
}
.total-am{
    @include total-amount;
}
.cash, .total-cash{
    @include cash;
}