$color-body: hsl(185, 41%, 84%);
$cont-color: hsl(0, 0%, 100%);
$left-color: hsl(183, 100%, 15%);
$common-flex: column;
@mixin row-styles{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

body {
    background-color: $color-body;
}

.container {
    background-color: $cont-color;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
    margin-top: 200px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.right {
    background-color: $left-color;
    border-radius: 18px;
    padding: 20px;
    width: 500px;
}

.left {
    display: flex;
    flex-direction: $common-flex;
    width: 550px;
}

.tip-percent {
    display: flex;
    flex-direction: $common-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.tip-percent button {
    background-color: $left-color;
    color: $cont-color;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 110px;
}
.tip-percent button:hover {
    background-color: hsl(172, 67%, 45%);
    
}
.row1 {
    @include row-styles;
}
.row2 {
    @include row-styles;
}
.custom-input input[type="number"] {
    width: 110px;
    padding: 10px;
    border: 2px solid hsl(172, 67%, 45%);
    border-radius: 5px;
    text-align: center;
    outline: none;
}
.people{
    display:flex ;
    flex-direction: $common-flex;
}